
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>FindPassword</title>
	<link href="~/css/base.css" rel="stylesheet" />
	<link href="~/css/fpwd.css" rel="stylesheet" />
</head>
<body>
	<div class="outer">
		<div class="top-banner">
			<img src="~/images/top_banner.png" alt="Banner" />
		</div>
		<div class="container">
			<div>
				<div class="step-nav">
					<div class="step-list">
						<a href="#" class="fl active">
							<span class="step-icon fl">1</span>
							<div class="step-title fl">确认账号</div>
							<i class="step-line fl"></i>
						</a>
						<a href="#" class="fl">
							<span class="step-icon fl">2</span>
							<div class="step-title fl">重置密码</div>
							<i class="step-line fl"></i>
						</a>
						<a href="#" class="fl">
							<span class="step-icon fl">3</span>
							<div class="step-title fl">重置成功</div>
							<i class="step-line fl"></i>
						</a>
					</div>
				</div>
				<div class="step-container"></div>
				<div class="data-step" style="display: none;">
					<input type="hidden" class="userName" value="" />
					<input type="hidden" class="ticket" value="" />
					<input type="hidden" class="randStr" value="" />
				</div>
			</div>
		</div>
	</div>
	<script src="~/js/dist/jquery-1.11.3.min.js"></script>
	<script src="https://ssl.captcha.qq.com/TCaptcha.js"></script>
	<script src="~/js/fpwd.js"></script>
</body>
</html>
